:root {
	--margin: 10px 0;
	--gap: 5px;
	--column-gap: 20px;
}


/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
	margin: 0;
}
/*************************************************/


div, 
section,
aside,
footer,
header {
	border: 2px solid black;
	margin: var(--margin);
}

p {
	margin: 0;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: var(--gap);
	column-gap: var(--column-gap);
}

.footer-grid {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: var(--gap);
	column-gap: var(--column-gap);
	padding: 5px;
	margin: 0;
}

.item {
	height: 100px;
}

@media (min-width: 768px) {
	.main-grid {
		grid-template-columns: repeat(12, 1fr);
	}
	.box1,
	.box2,
	.box3 {
		grid-column: span 4;
	}
	.content, .sidebar {
		grid-column: span 6;
	}
	.footer-grid {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 10px;
	}
	.item {
	height: 150px;
	}

}



@media (min-width: 960px) {
	.box1,
	.box3 {
		grid-column: span 3;
	}
	.box2 {
		grid-column: span 6;
	}
	.content {
		grid-column: span 8;
	}
	.sidebar {
		grid-column: span 4;
	}

	.footer-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1200px) {
	.box1,
	.box3 {
		grid-column: span 2;
	}
	.box2 {
		grid-column: span 8;
	}
	.content {
		grid-column: span 9;
	}
	.sidebar {
		grid-column: span 3;
	}
}