:root {
	--margin: 10px 0;
	--gap: 5px;
	--column-gap: 20px;
}


/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
	margin: 0;
}
/*************************************************/


div, 
section,
aside,
footer {
	margin: var(--margin);
}

header,
main,
footer {
	width: 88%;
	margin: 0 auto;
}

.item {
	border: 2px solid black;
}

p {
	margin: 0;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: var(--gap);
	column-gap: var(--column-gap);
	margin: 10px auto;
}

.footer-grid {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: var(--gap);
	column-gap: var(--column-gap);
	padding: 5px;
	margin: 0 auto;
	box-sizing: border-box;
}

.item {
	height: 100px;
}

.flex-header {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	column-gap: 10px;
	border: none;
	padding: 0 10px;
	box-sizing: border-box;
	margin: 0;
}

.button {
	border: 1px solid black;	
	background-color: lightgray;
	text-decoration: none;
	color: black;
}

.button4 {
	margin-left: auto;
}


@media (min-width: 768px) {
	.main-grid {
		grid-template-columns: repeat(12, 1fr);
	}
	.box1,
	.box2,
	.box3 {
		grid-column: span 4;
	}
	.content, .sidebar {
		grid-column: span 6;
	}
	.footer-grid {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 10px;
	}
	.item {
	height: 150px;
	}

}

@media (min-width: 960px) {
	.box1,
	.box3 {
		grid-column: span 3;
	}
	.box2 {
		grid-column: span 6;
	}
	.content {
		grid-column: span 8;
	}
	.sidebar {
		grid-column: span 4;
	}

	.footer-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1200px) {
	.box1,
	.box3 {
		grid-column: span 2;
	}
	.box2 {
		grid-column: span 8;
	}
	.content {
		grid-column: span 9;
	}
	.sidebar {
		grid-column: span 3;
	}
}