:root {
	--margin: 10px 0;
	--gap: 5px;
}


/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
	margin: 0;
}
/*************************************************/


div, 
section,
aside,
footer,
header {
	border: 2px solid black;
	margin: var(--margin);
}

p {
	margin: 0;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--gap);
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: var(--gap);
	padding: 5px;
	margin: 0;
}

.item {
	height: 100px;
}

@media (min-width: 768px) {
	main-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}